@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap'); 

body{
    font-family: 'lato', sans-serif;
    padding: 0;
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

h2{
     text-transform: uppercase;
     text-align: center;
     padding-top: 30;
     font-size: 2em;
}

a{
    text-decoration: none;
    color: black;
}

/* NAVIGATION BAR */

nav{
    overflow: hidden;
    background-color: blanchedalmond;
    position:fixed;
    width: 100%;
    opacity: 0.9;
}

header li{
    float: right;
    font-size: 1.2em;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding : 18px 16px;
}

#logo{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    float: left;
}

/* IMAGE PRINCIPALE */

#imagePrincipale{
    padding-top: 60px;
    background: url(media/background.png) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}

h1{
    font-family: 'lato', sans-serif;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 120px;
    text-shadow: 1px 2px 10px black;
}

h3{
    text-align: center;
    color: white;
    font-size: 3em;
    text-shadow: 1px 2px 10px black;
}

/* PRESENTATION */

#prestation{
    background-color: yellow;
}

#textIntro{
    padding: 0px 20%; 
}

#prestations{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
}

.imagesPrestations h4{

    font-family: 'lato', sans-serif;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
    
}

.imagesPrestations img{

    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px black;
}

.imagesPrestations img:hover{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 08.s ease-in-out;
}